<launch>
    <rosparam command="load" file="$(arg config_file_root)/onwote_hd_poe/onwote_hd_poe.yaml" ns="onwote_hd_poe" />
    <node name="onwote_hd_poe" pkg="nepi_edge_sdk_onvif" type="onvif_camera_node.py" respawn="true" output="$(arg output_destination)" />

    <rosparam command="load" file="$(arg config_file_root)/sidus_ss400/sidus_ss400.yaml" ns="sidus_ss400" />
    <node name="sidus_ss400" pkg="nepi_edge_sdk_onvif" type="onvif_camera_node.py" respawn="true" output="$(arg output_destination)" />

    <rosparam command="load" file="$(arg config_file_root)/econ_routecam/econ_routecam.yaml" ns="econ_routecam" />
    <node name="econ_routecam" pkg="nepi_edge_sdk_onvif" type="onvif_camera_node.py" respawn="true" output="$(arg output_destination)" />
</launch>